mixin seprator 
 - for(let i = 0 ; i<10 ; i++){
    <br>
 - }

//- generate all different classes for margin 
mixin show(className)

  - for( let i = 1 ; i<11 ; i++){
    - if( className == 'mb'){
      div(class=`bg-orange ` style="width:250px ; height:250px; position:relative ;  ") 
        div(class=`bg-red text-orange ${className}-${i}` style="width:fit-content ; font-size:30px ; position:absolute ; bottom:0 ;  ") #{i}
    -}else if( className == 'mr'){
         div(class=`bg-orange ` style="width:250px ; height:250px; position:relative ;  ") 
          div(class=`bg-red text-orange ${className}-${i}` style="width:fit-content ; font-size:30px ; position:absolute ; right:0 ;  ") #{i}




    - }else if( className == 'br'){
         div(class=`bg-orange ` style="width:250px ; height:250px; display:flex ; align-items:center ; justify-content:center ;   ") 
          div(class=`bg-red text-orange ${className}-${i}` style="width:50px ; height:50px ; font-size:30px ; position:absolute ;  display:flex ; align-items:center ; justify-content:center ;   ") #{i}
      
    - }
     
    -else{
      div(class=`bg-orange ` style="width:250px ; height:250px; ") 
        div(class=`bg-red text-orange ${className}-${i}` style="width:fit-content ; font-size:30px ") #{i}
    -}
-}
  
  
 
  


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- google fonts
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    link(rel="stylesheet" href="./css/main.css")
    title Css Framwork
  body(class="text-black")
    .container 
      p.text-center.p-5.m-5.uppercase show case of my css micro framework 
      h1.text-center H1 heading 
      h2.text-center H2 heading
      h3.text-center H3 heading 
      h4.text-center H4 heading
      h5.text-center H5 heading 
      h6.text-center H6 heading
      +seprator
      p.text-center.uppercase generate color grades from any color 
      h4.text-center.my-3 Background Colors 
      .m-top-5.m-top-5.m-bottom-5
        .row.gap-2 
          - for(let i = 1 ; i<11 ; i++){     
              div(class=`col bg-orange-light-${i} p-5`) #{i}
          - }
      .m-top-5.m-top-5.m-bottom-5
        .row.gap-2 
          - for(let i = 1 ; i<11 ; i++){     
              div(class=`col bg-blue-light-${i} p-5`) #{i}
          - }
      .m-top-5.m-top-5.m-bottom-5
        .row.gap-2 
          - for(let i = 1 ; i<11 ; i++){     
              div(class=`col bg-red-light-${i} p-5`) #{i}
          - }
      .m-top-5.m-top-5.m-bottom-5
        .row.gap-2 
          - for(let i = 1 ; i<11 ; i++){     
              div(class=`col bg-green-light-${i} p-5`) #{i}
          - }

      +seprator
      h4.text-center.my-3 Text Colors 
      .row.gap-2
        - for(let i = 1 ; i<11 ; i++){     
              h5(class=`col text-orange-light-${i} p-1`)  text 
        - } 
      .row.gap-2
        - for(let i = 1 ; i<11 ; i++){     
              h5(class=`col text-orange-dark-${i} p-1`)  text 
        - } 
      .row.gap-2
        - for(let i = 1 ; i<11 ; i++){     
              h5(class=`col text-blue-light-${i} p-1`)  text 
        - } 
      .row.gap-2
        - for(let i = 1 ; i<11 ; i++){     
              h5(class=`col text-blue-dark-${i} p-1`)  text 
        - } 
      .row.gap-2
        - for(let i = 1 ; i<11 ; i++){     
              h5(class=`col text-green-light-${i} p-1`)  text 
        - } 
      .row.gap-2
        - for(let i = 1 ; i<11 ; i++){     
              h5(class=`col text-green-dark-${i} p-1`)  text 
        - } 
      .row.gap-2
        - for(let i = 1 ; i<11 ; i++){     
              h5(class=`col text-red-light-${i} p-1`)  text 
        - } 
      .row.gap-2
        - for(let i = 1 ; i<11 ; i++){     
              h5(class=`col text-red-dark-${i} p-1`)  text 
        - } 
      +seprator
      h4.text-center.my-3 Padding 
      .row.gap-2.align-items-center.just-center 
        +show('p')
      h5.text-center.my-3 Padding Top 
      .row.gap-2.align-items-center.just-center 
        +show('pt')
      h5.text-center.my-3 Padding Bottom 
      .row.gap-2.align-items-center.just-center 
        +show('pb') 
      h5.text-center.my-3 Padding Left 
      .row.gap-2.align-items-center.just-center 
        +show('pl')   
      h5.text-center.my-3 Padding right 
      .row.gap-2.align-items-center.just-center 
        +show('pr')   
      h5.text-center.my-3 Padding X 
      .row.gap-2.align-items-center.just-center 
        +show('px')
      h5.text-center.my-3 Padding Y 
      .row.gap-2.align-items-center.just-center 
        +show('py')   


      +seprator
      h4.text-center.my-3 Margin 

      div.row.gap-2.just-center 
        +show('m') 
      h5.text-center.my-3 Margin Top 
      div.row.gap-2.just-center 
        +show('mt') 
      h5.text-center.my-3 Margin Bottom 
      div.row.gap-2.just-center 
        +show('mb') 
      h5.text-center.my-3 Margin Left 
      div.row.gap-2.just-center 
        +show('ml')   
      h5.text-center.my-3 Margin right 
      div.row.gap-2.just-cener
        +show('mr')  
      h5.text-center.my-3 Margin X 
      div.row.gap-2.just-center 
        +show('mx')
      h5.text-center.my-3 Margin Y 
      div.row.gap-2.just-center
        +show('my')
      +seprator
      h4.text-center.my-3 Border radius 
      .row.gap-2.just-center 
        +show('br') 
      +seprator
  
    script(src="./js/main.js")   