doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- google fonts
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    link(rel="stylesheet" href="./css/main.css")
    title Css Framwork
  body
  
    div.container
      p bodytext 
      h2 Colors 
      div(style="display:flex ; ")
        - for(let i = 1 ; i<10 ; i++){
          div(class=`bg-blue-light-${i} m-right-1` style="width:100px ; height:100px")
        - }   
        - for(let i = 1 ; i<10 ; i++){
          div(class=`bg-orange-light-${i} m-right-1` style="width:100px ; height:100px")
        - }   
      br
      br
      h2 Heading 
      h1 Heading H1 
      h2 Heading H2 
      h3 Heading H3 
      h4 Heading H4 
      h5 Heading H5 
      h6 Heading H6 
      br
      br
      p Paragrapgh
      br
      br
      h2 Links 
      a(href="#") Link

      div(style="display:flex ; ")
        - for(let i = 1 ; i<10 ; i++){
          button(class=`btn bg-blue-light-${i} m-top-2 m-bottom-2 m-left-2 m-right-2`) Click Me
        - }   
      div(style="display:flex ; ")
        - for(let i = 1 ; i<10 ; i++){
          button(class=`btn text-orange-light-${i} bg-blue-dark-${i} m-top-2 m-bottom-2 m-left-2 m-right-2`) Click Me
        - }   
      span(class="bg-orange-light-5 text-blue-dark-2 p-top-2 p-bottom-2 p-left-2 p-right-2 circle" ) hamada

      div(class="m-top-5 m-bottom-5 row gap-1")
        - for(let i = 1 ; i<15 ; i++){
          div(class="col-1 bg-orange text-blue-dark-5 p-3") Div
        - }
      div(class="m-top-5 m-bottom-5 row gap-3")
        - for(let i = 1 ; i<15 ; i++){
          div(class="col-1 bg-orange text-blue-dark-5 p-3") Div
        - }

      br 
      br



     

     
    script(src="./js/main.js")